body {
    background-image: url('./hotel8.jpg');
    background-size: cover;
    font-size: 30px;
}

#ui {
    background-color: rgb(255, 196, 0);
    border: 1px;
    padding: 50px 60px;
    border-radius: 15px;
    margin-top: 10vh;
    margin-bottom: 5vh;
    margin-left: 10vh;
    margin-right: 10vh;
    box-shadow: 0px 2px 24px 13px rgba(240, 243, 245, 1);
}

.btn {
    opacity: 75%;
}

h1{
    text-decoration: underline;
}